$purple-0: #12071A;
$purple-1: #280743;
$purple-2: #281636;
$purple-3: #3B0567;
$purple-4: #550993;

$magenta-0: #1F0615;
$magenta-1: #4F0330;
$magenta-2: #40172F;
$magenta-3: #7A0047;
$magenta-4: #AE0066;

$blue-0: #0A091B;
$blue-1: #100C45;
$blue-2: #1B1938;
$blue-3: #100B6B;
$blue-4: #1A1398;
