$purple-0: #12071A;
$purple-1: #280743;
$purple-2: #281636;
$purple-3: #3B0567;
$purple-4: #550993;

$magenta-0: #1F0615;
$magenta-1: #4F0330;
$magenta-2: #40172F;
$magenta-3: #7A0047;
$magenta-4: #AE0066;

$blue-0: #0A091B;
$blue-1: #100C45;
$blue-2: #1B1938;
$blue-3: #100B6B;
$blue-4: #1A1398;

$pink-0: #FE73B0;
$pink-1: #FFB2D4;
$pink-2: #FF8FC0;
$pink-3: #F567A5;
$pink-4: #DE8CB0;

$yellow-0: #FFD673;
$yellow-1: #FFE8B2;
$yellow-2: #FFDE8F;
$yellow-3: #FFD36B;
$yellow-4: #FFE3A1;

$light-blue-0: #8499FD;
$light-blue-1: #BBC7FF;
$light-blue-2: #9DAEFF;
$light-blue-3: #7389EB;
$light-blue-4: #7E89BA;
