#FantasyContainer {
    canvas {
        background-color: black;
        width: 300px;
        height: 150px;
    }
}

$color-primary-0: #B52C28;
$color-primary-1: #E24540;
$color-primary-2: #D03733;
$color-primary-3: #9D221F;
$color-primary-4: #791210;

$color-secondary-1-0: #B58928;
$color-secondary-1-1: #E2B040;
$color-secondary-1-2: #D09F33;
$color-secondary-1-3: #9D751F;
$color-secondary-1-4: #795810;

$color-secondary-2-0: #263A7A;
$color-secondary-2-1: #384F99;
$color-secondary-2-2: #2F458D;
$color-secondary-2-3: #1F306A;
$color-secondary-2-4: #132152;

$color-complement-0: #208E27;
$color-complement-1: #33B23B;
$color-complement-2: #28A430;
$color-complement-3: #187B1F;
$color-complement-4: #0C5F12;
