.formFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;

    label {
        text-align: left;
    }
}

.userInfo, .userLogin {
    display: flex;
    flex-direction: column;
    align-items: center;

    label, input {
        padding: 8px 16px;
    }

    input {
        border-radius: 8px;
        text-align: center;
    }

    input[type='submit'] {
        cursor: pointer;
    }
}

.userInfoContainer, .userLoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}



input.showAnswer.valid {
    background: green;
}

input.showAnswer.invalid {
    background: red;
}

.problems {
    display: grid;
    grid-template-columns: 64px 64px;
    column-gap: 16px;
    justify-content: space-around;
}

.problem {
    width: 128px;
    height: 64px;
    text-align: right;

    &.vertical {
        * {
            text-align: right;
            float: left;
            clear: left;
            width: 32px;
        }

        :first-child {
            width: 64px;
            
        }
        
        .operator {
            text-align: left;
        }
    
        .equalSign {
            display: none;
        }
        
        .equalBar {
            width: 64px;
            border-top: 2px solid black;
        }
        
        input {
            width: 64px;
            border-width: 0px;
        }
    }

    &.horizontal {
        * {
            text-align: center;
            width: 32px;
            padding-right: 8px;
        }
        
        .operator {
            text-align: left;
        }
        
        .equalBar {
            display: none;
        }
        
        input {
            width: 32px;
            border-width: 0px;
        }
    }
}