@import '_colors.scss';
@import 'tbt.scss';
@import 'lists.scss';
@import 'navbar.scss';

* {
  margin: 0;
  padding: 0;
  font-family: Copperplate;// Brush Script MT, Brush Script Std, cursive;
//   box-sizing: border-box;
}

p {
    text-align: justify;
    font-size: .88em;
}

#about {
    padding: 8px 0px;
}

#bust {
    width: 96px;
    height: 96px;
    background-color: #0A091B;
    border: 5px solid #2867b2;
    margin-bottom: 8px;
}

#familyOlympics {
    li {
        background-color: azure;
    }
    
    #details{
        display: grid;

        div:nth-of-type(2n+1) {
            font-weight: bold;
            grid-column: 1;
            border: 1px solid black;
        }

        div:nth-of-type(2n) {
            background-color: azure;
            grid-column: 2;
            border: 1px solid black;
        
        }
    }
}

.bold {
    font-weight: bold;
}

.bust-circle {
    @extend .tbt-circle;
    height: 100%;
}

.circle {
    @extend .tbt-circle;
}

.grid-bust { 
    align-content: center;
    display: inline-flex;
    grid-area: bust;
    align-items: center;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    place-self: center;
    text-align: center;
}

.detroit-skyline-bg {
    background-attachment: fixed;
    background-image: url('../svg/detroit_skyline_0.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.light-blue-1 { background-color: #0A091B; }
.light-blue-0 { background-color: #100C45; }
.light-blue-2 { background-color: #100B6B; }

.grid-container {
    @extend .tbt-grid-container;
    align-content: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      'header'
    //   'bust'
      'main'
      'footer';
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 20%;
    // grid-template-rows: 10% 10% 70% 10%;
}

.grid-header {
    @extend .tbt-grid-header;
    align-items: center;
    color: white;
    display: flex;
    // margin-bottom: 16px;
    text-align: center;
}

.grid-footer {
    @extend .tbt-grid-footer;
    align-items: center;
    color: white;
    display: flex;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    flex-direction: column;
}

.grid-main {
    @extend .tbt-grid-main;
    align-items: center;
    border-radius: 15px 0px 0px 0px;
    color: $blue-0;
    height: 100%;
    padding: 0px 64px;
    text-align: center;
}

#mainNav {
    & > nav.navbar {
        grid-auto-flow: column;   

        a {
            background-color: #2867b2;
            border: 5px solid #0A091B;
            text-decoration: none;
            width: 64px;
            height: 64px;
            float: left;

            p {
                color: black;
                display: inline;
                position: relative;
                top: 33%;
            }
    
            &:hover {
                background-color: #0A091B;
                border: 5px solid rgb(40, 103, 178);

                p {
                    color: white;
                }
            }
        }
    }
}

#gamesNav {
    nav.navbar { 
        grid-auto-columns: min-content;

        a {
            

            p {
                text-align: justify;

            }
    
            &:hover {


                p {


                }
            }
        }
    }
}

#FantasyComponent {
    padding: 8px 0px;
}

#resumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        font-size: small;
    }

    img {
        height: auto;
        padding: 8px 0px;
        width: 25%;
    }
}

.socialMediaTray {
    align-content: baseline;
    display: flex;
    height: inherit;
    // justify-content: space-evenly;
    // width: 66%;
}

// ::-webkit-scrollbar the scrollbar.
// ::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
// ::-webkit-scrollbar-thumb the draggable scrolling handle.
// ::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
// ::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
// ::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
// ::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements