@import '_colors.scss';
@import 'tbt.scss';

* {
  margin: 0;
  padding: 0;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
}

.bust_circle {
    background-color: lightsteelblue;
}

.blurb {
    width: 66%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    color: white;
    background-color: blue;
    border-radius: 0px 15px 15px 15px;
}

.blurb h6, p {
    font-size: 1em;
}

.grid-header {
    @extend .tbt-grid-header;
    background-color: $blue-1;
    color: lightsteelblue;
}

.grid-main {
    @extend .tbt-grid-main;
    // background-color: $blue-3;
    color: $blue-4;
    border-radius: 15px 0px 0px 0px;
    padding-top: 10px;
    padding-left: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.grid-sidebar {
    @extend .tbt-grid-sidebar;
    background-color: blue;
}

.grid-main p {
    width: 66%;    
}

.tbt-navbar a {
    float: left;
    clear: left;
    color: white;
    margin-top: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: $blue-3;
    border: 2.5px outset $blue-3;
    width: 100%;
    text-align: center;
    text-decoration: none;

    &:hover, &:focus, &:focus-within {
        color: lightsteelblue;
        border: 2.5px inset $blue-4;
    }
}

#aboutMe {
    background-color: lightsteelblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    height: fit-content;
    border-radius: 0px 15px 15px 15px;
    font-size: 1em;

}

#aboutMe p {
    font-weight: bold;
}

#blurbsContainer {
    padding-top: 25.5%;
}

#blurbsContainer:first-child {
    font-size: larger;
    color: $blue-1;
}

#projects {
    background-color: lightsteelblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    height: fit-content;
    border-radius: 0px 15px 15px 15px;
}

#projects p {
    font-size: 1em;
    font-weight: bold;
}

#root {
    width: 100%;
    height: 500px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
    position: fixed;
}