$shade-0: #FFFFFF;
$shade-1: #B6B7C7;
$shade-2: #63678B;
$shade-3: #2D3155;

body {
    background-color: $shade-1;
}

* {
    margin: 0;
    padding: 0;
    font-family: Copperplate;// Brush Script MT, Brush Script Std, cursive;
    //   box-sizing: border-box;
}

.opaque-bg {
    background: $shade-2;
}

#root {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;

    header {
        width: 100%;
        background-color: $shade-0;
        text-align: center;
    }

    p {
        text-align: justify;
        font-size: .88em;
    }

    #profileImage-container {
        width: 192px;
        height: 192px;
    }

    #content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        div img, p {
            padding: .5rem 0rem;
            width: 80%;
            min-width: 300px;
            text-align: center;
        }
    }
    
    .navbar {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        height: inherit;
        background: $shade-0;
        align-items: center;

        a {
            text-decoration: none;
            p {
                text-align: justify;
                padding: .25rem .5rem;
                border: 1px solid $shade-3;
                border-radius: 24px;
                
                &:hover {
                    background: $shade-3;
                    color: $shade-0;
                    border: 1px solid $shade-0;
                }
            }
        }
    }

    #nav-container {
        position: absolute;
        left: 33%;
        width: 67%;
        height: 45px;

        #content-container {
            #about {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            #tictactoe {
                display: flex;
                flex-flow: column;
                align-items: center;
            }

            #projects-container {
                width: 100%;

                nav {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    text-align: center;
                    text-align: -webkit-center;

                    a {
                        text-decoration: none;
                        
                        p {
                            min-width: initial;
                            border: 1px solid black;
                            border-radius: 24px;
                            padding: .5rem 0rem;
                            margin: 1rem 0rem;
                            color: $shade-0;
                            background-color: $shade-3;
                            
                            &:hover {
                                color: $shade-3;
                                background-color: $shade-0;
                            }
                        }
                    }
                }
            }
        }
    }

    #toggleViewLink {
        position: fixed;
        bottom: 0;
        z-index: 10;
        align-self: center;
    }

    #profileComponent {
        align-items: center;
        background-color: $shade-2;
        border-bottom-right-radius: 64px;
        border-bottom-left-radius: 64px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 99%;
        position: absolute;
        width: 33%;
        min-width: 33%;

        #intro-container {
            background-color: $shade-0;
            padding: 1rem;
            border-radius: 24px;
        }

        #profileImage {
            border-radius: inherit;
            object-fit: contain;
            height: 192px;
            width: 192px;
        }

        #profileImageBubble {
            border-radius: 50%;
            height: 192px;
            width: 192px;
            background-color: $shade-3;
        }

        #profileImage-wrapper {
            border-radius: 50%;
            position: absolute;
        }

        #socialMediaTray-container {
            background-color: $shade-0;
            border-radius: 24px;
            height: 48px;
            padding: .5rem 0rem;
            width: 100%;
    
            .socialMediaTray {
                justify-content: space-evenly;
            }
        }
    }
}

@media only screen and (max-height: 600px) {
    * {
        // background: red;
    }
}

@media only screen and (max-width: 650px) {
    #root {
        align-items: center;
        
        #profileComponent {
            min-width: 33%;
            width: 100%;
            height: 192px;
            align-items: normal;
            border-radius: 0;
            display: grid;
            flex-direction: row;
            gap: 0rem;
            position: relative;

            .socialMediaTray {
                justify-content: flex-start;
                gap: 2rem;
            }

    
            header {
                text-align: justify;
            }

            #header-container {
                grid-column: 1/2;
                grid-row: 1;
                align-self: baseline;
                padding-bottom: .5rem;
                h2, h4 {
                    padding-left: 200px;
                }
            }

            #intro-container {
                display: none;
                background-color: initial;
                grid-column: 1;
                grid-row: 2;
            }

            #profileImage-container {
                grid-column: 1;
                grid-row: 1;
                z-index: 100;
            }
            
            #socialMediaTray-container {
                border-radius: 0px;
                position: absolute;
                top: 48px;
                grid-column: 1/2;
                grid-row: 1;
                width: 100%;
                min-height: 24px;
                height: 24px;
                
                .socialMediaTray {
                    justify-content: flex-start;
                    gap: 2rem;
                    padding-left: 200px;
                }
            }
        }

        .navbar {
            height: 2rem;

            a:first-of-type {
                padding-left: 100px;
            }
        }

        #toggleViewLink {
            align-self: flex-end;
        }

        #nav-container {            
            position: initial;
            left: initial;
            width: 100%;
            height: 2rem;

            #content-container {
                #tictactoe {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                }

                #projects-container {
                    width: 100%;
    
                    nav {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 50% 50%;
                        text-align: center;
                        text-align: -webkit-center;
    
                        a {
                            text-decoration: none;
                            
                            p {
                                min-width: initial;
                                border: 1px solid black;
                                border-radius: 24px;
                                padding: .5rem 0rem;
                                margin: 1rem 0rem;
                                color: $shade-0;
                                background-color: $shade-3;
                                
                                &:hover {
                                    color: $shade-3;
                                    background-color: $shade-0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}