#SITComponent {
    display: flex;
    justify-content: center;
    
    #SITContainer {
        display: flex;
        justify-content: center;
    }
    
    canvas {
        image-rendering: pixelated;

        // background-color: black;
        // width: 150px;
        // height: 300px;

        width: 300px;
        height: 500px;
        background-color: lightgrey;
    }

    .tbt-spritesheet {
        display: none;
    }
}