.tbt-flex-container {
    display: flex;
}

.tbt-grid-container {
    display: grid;
    height: inherit;
    width: inherit;
}

.tbt-game-container_v1 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
}

.tbt-grid-header { grid-area: header; }
.tbt-grid-footer { grid-area: footer; }
.tbt-grid-main { grid-area: main; }
.tbt-grid-sidebar { grid-area: sidebar; }

.tbt-circle {
    border-radius: 50%;
    height: auto;
    width: auto;
}

.tbt-navbar {
    width: 100%;
}