#tictactoe {
    .gridboard {
        display: grid;
        height: 128px;
        width: 128px;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(3, 33%);

        div {
            border: 1px solid black;
            background-color: white;
            display: flex;
            place-content: center;
            align-items: center;
            
            &:hover {
                color: white;
                background-color: black;
                cursor: pointer;
            }
        }

    }

    button {
        padding: 0px 8px;
        margin-top: 16px;
    }
}