@use 'colors.module';

@media screen and (max-width: 769px) {
  body {
    background-color: darkgray;
  }

  #left-container {
    width: 34%;
    left: 33%;
    min-width: 334px;
  }

  #right-container {
    display: none
  }
}